:root {
  --width: min(600px, 100vw);
}
.App {
  text-align: center;
}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;

}
::-webkit-scrollbar-track {
  background-color: rgb(40,44,52);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(189, 189, 189, 0.5); 
}
/*       Home    */
.home {
  width: var(--width);
}
.create-form {
  width: var(--width);
}

/*       Item Area    */
.item-area {
  background-color: rgba(40,44,52, 0.97);
  color: azure;
  border-radius: 10px 10px 0 0;
  position: absolute;
  width: var(--width);
  height: 30vh;
  bottom: 54px;
  left: 0;
  transition: height 0.5s;
}
.item-area.minimized {
  height: 3vh;
}
.minimize-wrapper {
  background-color: rgba(40,44,52, 1);
  border-radius: inherit;
}
.minimize-icon {
  height: 25px;
}
.items-container {
  height: 90%;
  width: 99%;
}
.scrollable {
  height: 100%;
  overflow-y: scroll;
}
.item-section-header {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: 2% 5%;
  padding: 0 2%;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid azure;
}
.item-section-header p, .item-section-header h3 {
  margin: 0;
}

/*       DRequest Item     */
.decision-request-item {
  position: relative;
  margin: 10px 5%;
  padding: 0 5%;
  border: 1px solid azure;
  border-radius: 10px;
}
.decision-request-item p, .decision-request-item h3, .decision-request-item h6 {
  margin: 1% 0;
}
.item-header {
  display: flex;
  gap: 20px;
  align-items: baseline;
  justify-content: center;
  font-size: 20px;
}
.item-info {
  display: flex;
  justify-content: space-between;
  padding: 0 5% 0 0;
}
.voted-check {
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
  width: 20px;
}
.delete-icon {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  width: 20px;
}

/*       Util bar    */
.util-bar {
  background-color: rgba(40,44,52, 1);
  color: azure;
  position: fixed;
  bottom: 0;
  left: 0;
  width: var(--width);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 50%;
  z-index: 2;
}
.util-bar button {
  background-color: transparent;
  color: azure;
  font-size: large;
  padding: 5px 10px;
  border-radius: 10px;
}

/*       Create Form    */
.search-nearby {
  background-color: rgba(40,44,52, 0.6);
  color: azure;
  position: relative;
  top:10vh;
  left: 0;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
}
.options-container {
  height: 90%;
}
.form-options {
  width: 70%;
  margin: 0 15%;
}
.option {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 5%;
}
.option input {
  width: 70%;
  margin: 5px 0;
  padding: 5px 0;
}
.add-friends-btn {
  width:90%;
  font-size: large;
  margin: 5px 5%;
}
.submit-btns {
  gap: 10px;
}
.submit-btns button {
  font-size: large;
  width:45%;
}
.places-preview {
  margin: 10px 0;
}

.places-preview p {
  margin:0;
}

/*       Add Friends Popup    */
.popup {
  background-color: rgba(40,44,52, 0.97);
  color: azure;
  width: calc(var(--width) - var(--width)/10);
  height: 50%;
  position:fixed;
  top: 10%;
  left: calc(var(--width)/20);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0,0.7);
}
.popup-header {
  background-color: rgba(40,44,52, 1);
  width: 99%;
  margin: 0;
  border-radius: 10px 10px 0 0;
}
.popup-btns {
  background-color: rgba(40,44,52, 1);
  display: flex;
  width: 90%;
  gap: 10px;
  position: absolute;
  bottom: 1%;
  left: 5%;
}
.popup-btns button, .popup-btns a{
  background-color: transparent;
  color: azure;
  width: 100%;
  padding: 5px 0px; 
  border-top: 2px solid rgba(189, 189, 189, 0.788);
  border-left: 2px solid rgba(189, 189, 189, 0.788);
  border-right: 2px solid rgb(19, 19, 19);
  border-bottom: 2px solid rgb(19, 19, 19);
  border-radius: 10px;
  font-size: 20px;
}


.friends-container {
  height: 85%;
  width: 99%;
}
.friend-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:80%;
  margin: 0px 10%;
  padding: 0;
  font-size: 12px;
}
.friend-item button{
  height: min-content;
  font-size: 18px;
}
.friend-item .selected {
  position: absolute;
  right: 0px;
}
.friend-item h2 {
  margin: 8px 0;
}



/*       login    */

.login form {
  font-size: 12px;
  width:70%;
  margin: 60px 15% 0;
}
.login input {
  font-size: 25px;
  width: 90%;
  margin: 10px 0;
}
.login .remember-box {
  width: min-content;
  margin-left: 10px;
  float: left;
}
.login .remember-label {
  float: left;
  margin: 7px 5px;
}
.login .forgot-password {
  float: right;
  border: none;
  background-color: transparent;
  margin-top: 7px;
  margin-right: 10px;
}
.login-submit {
  width:70%;
  margin: 10px 15% 0;
  font-size: 20px;
}

/*       Friends     */
.friends-search {
  
}
.friends-search, .friends-area, .friends-pending {
  margin-top: 10px;
}
.friends-search.minimized, .friends-area.minimized, .friends-pending.minimized   {
  height: 25px;
  overflow-y: hidden;
}
.folder-header {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  border-bottom: 1px solid azure;
}
.folder-header p {
  margin: 0;
}
.icon {
  height:16px;
}
.icon.large{
  height: 30px;
  margin-right: 5px;
}
.friends-area {
  position: relative;
}
.searchbar {
  font-size: 18px;
  margin: 10px 0;
}
.loading-img {
  position: absolute;
  top: 75px;
  right: 40px;
  height: 20px;
}
.user-info {
  text-align: left;
  margin: 5px 0;
}
.user-info p, .user-info h2 {
  margin: 0;
}
.friend-request-buttons button {
  font-size: 12px;
}
button.green { background-color: green; }
button.red { background-color: red; }
button.gray { background-color: rgb(95, 95, 95);}

/*       Vote     */
.vote {
  position: absolute;
  width: var(--width);
  bottom: 54px;
  height: 500px;
  left: 0;
  pointer-events: none;
}
.vote-loading {
  border-radius: 10px 10px 0 0;
  width: 40%;
}

.vote .places-container {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  width: 90%;
  height: inherit;
  padding: 0 5%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  pointer-events: none;
}
.rank-btn {
  background-color: transparent;
  color: azure;
  font-size: large;
  width: 125px;
  margin: 0 33% 10px;
  padding: 5px 10px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
  pointer-events: all;
}

/*       Place Item     */
.place-item {
  background-color: rgba(40,44,52, 0.97);
  color: azure;
  position: relative;
  min-width: 100%;
  height: 185px;
  border-radius: 10px;
  scroll-snap-align: center;
  pointer-events: auto;
}
.place-item.full {
  height: 480px;
}
.place-item.result {
  height: max-content;
}
.place-item img {
  border-radius: 10px;
}
.place-num {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 10px;
}
.place-container {
  position: relative;
  padding: 0 5%;
  height: 93%;
  text-align: left;
}
.place-container.result {
  height: max-content;
}
.place-container.scrollable::-webkit-scrollbar { display: none;}

.header-img {
  position: absolute;
  top: 5px;
  right: 2%;
}
img.header-img {
  width: 38%;
  max-height: 100px;
}
.place-header h2 {
  margin:0;
  display: block;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}
.rating { 
  position: relative;
  display: flex; 
}
.stars-outer {
  position: relative;
}
.stars-inner {
  position: absolute;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
}
.star { width: 15px; }
.place-details {
  position: relative;
  margin: 5px 0 0;
}
.place-details p {
  color: gray;
  margin: 0 2px;
  font-size: 15px;
}
.row { display: flex; align-items: baseline; }
.row.links { 
  position: relative;
  top:0px;
  width: 100%;
  justify-content: space-evenly; 
}
.row.links a {
  background-color: rgb(40,44,52);
  color: azure;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 18px;
}
.place-extra {
  position: relative;
  top: 0px;
  width: 100%;
}

.place-section p {
  margin: 5px 2px;
  color: azure;
}
.place-section-header {
  border-bottom: 2px solid azure;
}
.place-section-header h4 {margin: 0;}


.image-gallery {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  width: 100%;
  height: min-content;
  overflow-x: scroll;
}
.image-gallery img {
  width: auto;
  height: auto;
}
p.green { color: green}
p.red { color: red}
p.dot, span.dot {
  font-size: 18px;
  position: relative;
  top: -5px;
}
p:last-child span {
  display: none;
}

/*       Vote Ranking     */
.ranking-container {
  height: 83%;
  width: 99%;
  position: relative;
}
.rank-item {
  background-color: rgb(65, 65, 65);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 86%;
  margin: 10px 5%;
  padding: 5px 2%;
  border-radius: 10px;
}
.rank-item p {
  margin: 0;
}
.drag-num.unranked {
  font-size: 12px;
  color: gray;
}
.drag-icon {
  width:20px;
}
.submit-btn {
  background-color: transparent;
  color: azure;
  font-size: 15px;
  width: 125px;
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 3;
}

/*       Show Results     */
.results-container {
  height: 80%;
  width:99%;
}
.results-container h2, .results-container p {
  margin: 0px 2px;
}


@media only screen and (min-width: 600px) {
  .App {
    margin-left: calc((100vw - var(--width)) / 2);
  }
  .item-area {
    left: calc((100vw - var(--width)) / 2);
  }
  .util-bar {
    left: calc((100vw - var(--width)) / 2);
  }
  .popup {
    left: calc((100vw - var(--width)) / 2 + var(--width)/20);
  }
  .vote {
    left: calc((100vw - var(--width)) / 2);
  }
  .rank-btn {
    left: calc((100vw - var(--width)) / 5);
  }
}